body{
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Mulish', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    font-size:16px;
}

.border-radius{
    border-radius:15px;
}

a{
    text-decoration: none;
}

.employee-button{
    background-color:#fff6c7;
    /* border:1px solid #f1ce04; */
    color:#d6b600;
    /* background-color:rgb(255, 244, 242); */
    /* border:1px solid mistyrose; */
    /* color:rgb(255, 198, 191); */
}

.dashboard-button{
    background-color:#e7edff;
    /* border:1px solid #7d9efc; */
    /* color:#7d9efc; */
    color:#1050ff;
}

.green{
    background-color:#198754;
    color:#6dd387;
}

.btn-icon{
    width:50px;
    margin-right:15px;
}

.dashboard-button:hover, .employee-button:hover{
    box-shadow: 0px 0px 10px rgb(16, 80, 255, 0.3);
}

h1{
    color:#1050ff;
}

h1,h2,h3,h4,h5{
    font-weight:700;
}

/* .btn, .form-control{
    min-width:100%;
    padding:15px 40px;
    border-radius: 100px;
} */

.btn{
    min-width:100%;
    padding:15px 40px;
    border-radius: 100px;
}

.form-control{
    min-width:100%;
    padding:15px 30px;
    border-radius: 100px;
}

.btn-cancel{
    border:1px solid #1050ff;
    color:#1050ff;
}

.btn-cancel:hover{
    background-color: #1050ff;
    color:#ffffff;
}

.navbar{
    background-color:#1050ff;
    padding: 20px 0;
}

.navbar-brand{
    font-size:16px;
    color:white !important;
}

.navbar-brand:hover {
    text-decoration: underline;
}

.navbar-btn{
    /* background-color:pink; */
    color:white;
}

.navbar-btn:hover{
    transition:none;
    color:#ffdf29;
}

.nav-link{
    color:white !important;
    font-size:25px;
    margin:5px 0;
    padding:0;
}

/* .navbar-collapse{
    height:calc(100vh - 80px);
} */

.navbar-toggler{
    color:white !important;
    border:0;
    /* padding:0; */
}

.btn-primary{
    background-color:#1050ff;
}

.btn-primary:hover{
    background-color:#0035c7;
}

.form-control{
    border:1px solid #1050ff;
}

label{
    margin-top:15px;
    font-size:12px;
    text-transform: uppercase;
    color:#1050ff;
}

table{
    overflow: hidden;
    /* box-shadow: 5px 5px 0px rgb(16, 80, 255, 1); */
    /* box-shadow: 0px 0px 0px 1px #1050ff; */
}

.table{
    border:1px solid lightgray !important;
}

thead{
    /* background-color:#f5f7ff; */
    /* color:#1050ff; */
    background-color:#fff6c7;
    color:#b39800;
}

tbody tr:hover{
    background-color:#fffdf4;
    /* background-color:#f9fbff; */
}

.extended-info-address{
    background-color:#1050ff !important;
    color:white;
}

.extended-info{
    background-color:#f0f4ff !important;
    color:#1050ff;
    /* font-weight:700; */
    /* background-color:#ffdf29 !important; */
    /* color:#9b8403; */
}

/* .extended-info{
    background-color:#fff6c7 !important;
    color:#9b8403;
} */

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

/* tbody{
    background-color:#fffceb;
} */

tbody>tr>td{
    border-bottom:1px solid #e7e7e7;
}

.dashboard-sidebar{
    width:80px;
    background-color:#000000;
    padding-top:100px;
}

.dashboard-sidebar a{
    color: white;
    font-size:12px;
}

.dashboard-sidebar a img{
    width:35px;
    margin-bottom:5px;
}

.dashboard-sidebar a:hover{
    background-color: #1050ff;
}

.role-badge{
    background-color:#ffdf29;
    color:#9b8403;
    font-weight:700;
    padding:10px 15px;
    margin-right:15px;
    border-radius:10px;
    font-size:14px;
    line-height:16px;
}

td{
    vertical-align: middle;
}

.search-form input[type="submit"]{
    margin-top:15px;
}

.icon-btns img{
    width:20px;
    display:inline-block;
    margin-right:5px;
}

.yellow{
    color:#e0c00b !important;
}

.yellow:hover{
    background-color:rgb(255, 223, 41, 0.3) !important;
}

.edit-btn{
    color:#1050ff;
}

.delete-btn{
    color:#dc3545;
}

select{
    background-image: url('/images/dropdown-arrow.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 20px center;
}

select[name="skin_types"]{
    background: none;
}

.sunscreen-form select[name="skin_types"]{
    border-radius:25px;
}

#uploaded-image{
    width:100%;
}

@media only screen and (min-width:768px) {
    .btn{
        min-width:150px;
    }

    .search-form{
        display:flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .search-form .form-group{
        flex:1;
        margin: 0 10px;
    }

    .search-form input[type="submit"]{
        height:100%;
    }

}

@media only screen and (min-width:992px) {

    .icon-btns{
        padding:10px;
        border-radius:15px;
        font-size:12px;
    }    

    .icon-btns img{
        width:30px;
        display:inline-block;
        margin-bottom:5px;
        margin-right: 0;
    }

    .icon-btns i{
        font-size:30px;
        margin-bottom:5px;
    }

    .edit-btn:hover{
        color:#1050ff;
        background-color:rgb(16, 80, 255, 0.1);
    }

    .delete-btn:hover{
        color:#dc3545;
        background-color:rgb(220, 53, 69, 0.1);
    }

    .sunscreen-form{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sunscreen-form .float-left{
        width:25%;
    }

    .sunscreen-form .float-right{
        width:70%;
    }

    .brands-table, .countries-table{
        width:500px !important;
    }
    

}


@media only screen and (min-width:1200px) {
    .container{
        width:1000px;
    }
}

@media only screen and (min-width:1400px) {
    .container{
        width:1200px;
    }
}


@media only screen and (min-width:1500px) {
    .container{
        width:1400px;
    }
}