body{
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Mulish', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    font-size:16px;
}

.border-radius{
    border-radius:15px;
}

a{
    text-decoration: none;
}

.dashboard-button{
    background-color:#fff6c7;
    /* border:1px solid #f1ce04; */
    color:#d6b600;
    /* background-color:rgb(255, 244, 242); */
    /* border:1px solid mistyrose; */
    /* color:rgb(255, 198, 191); */
}

.employee-button{
    background-color:#e7edff;
    /* border:1px solid #7d9efc; */
    color:#7d9efc;
}

.green{
    background-color:#198754;
    color:#6dd387;
}

.btn-icon{
    width:50px;
    margin-right:15px;
}

.dashboard-button:hover, .employee-button:hover{
    box-shadow: 0px 0px 10px rgb(16, 80, 255, 0.3);
}

h1{
    color:#1050ff;
}

h1,h2,h3,h4,h5{
    font-weight:700;
}

.btn, .form-control{
    min-width:100%;
    padding:15px 40px;
    border-radius: 100px;
}

.btn-primary{
    background-color:#1050ff;
}

.btn-primary:hover{
    background-color:#0035c7;
}

.form-control{
    border:1px solid #1050ff;
}

label{
    margin-top:15px;
    font-size:12px;
    text-transform: uppercase;
    color:#1050ff;
}

table{
    overflow: hidden;
}

thead{
    background-color:#f5f7ff;
    color:#1050ff;
    /* background-color:#fff6c7; */
    /* color:#b39800; */
}

/* tbody{
    background-color:lightgray;
} */

tbody>tr>td{
    border-bottom:1px solid #e7e7e7;
}

.dashboard-sidebar{
    width:80px;
    background-color:#000000;
    padding-top:100px;
}

.dashboard-sidebar a{
    color: white;
    font-size:12px;
}

.dashboard-sidebar a img{
    width:35px;
    margin-bottom:5px;
}

.dashboard-sidebar a:hover{
    color: #f1ff29;
}

.navbar-brand{
    font-size:16px;
}

.navbar-brand:hover {
    text-decoration: underline;
}

.role-badge{
    background-color:#ffdf29;
    color:#9b8403;
    font-weight:700;
    padding:10px 15px;
    margin-right:15px;
    border-radius:10px;
    font-size:14px;
    line-height:16px;
}

td{
    vertical-align: middle;
}

.search-form input[type="submit"]{
    margin-top:15px;
}

.icon-btns img{
    width:20px;
    display:inline-block;
    margin-right:5px;
}

.edit-btn{
    color:#1050ff;
}

.delete-btn{
    color:#dc3545;
}

select{
    background-image: url('/images/dropdown-arrow.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 20px center;
}

select[name="skin_types"]{
    background: none;
}

#uploaded-image{
    width:100%;
}

@media only screen and (min-width:768px) {
    .btn{
        min-width:150px;
    }

    .search-form{
        display:flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .search-form .form-group{
        flex:1;
        margin: 0 10px;
    }

    .search-form input[type="submit"]{
        height:100%;
    }


}

@media only screen and (min-width:992px) {

    .icon-btns{
        padding:10px;
        border-radius:15px;
        font-size:12px;
    }    

    .icon-btns img{
        width:40px;
        display:inline-block;
        margin-bottom:5px;
        margin-right: 0;
    }

    .edit-btn:hover{
        color:#1050ff;
        background-color:rgb(16, 80, 255, 0.1);
    }

    .delete-btn:hover{
        color:#dc3545;
        background-color:rgb(220, 53, 69, 0.1);
    }

    .sunscreen-form{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sunscreen-form .float-left{
        width:25%;
    }

    .sunscreen-form .float-right{
        width:70%;
    }

    .sunscreen-form select[name="skin_types"]{
        border-radius:15px;
    }
    

}
