{{#extends 'base'}}

{{#block 'content'}}

    <h1>Hello!</h1>

    <a href="/brands" class="btn btn-primary">{{brands.length}} Brands</a>
    <a href="/users" class="btn btn-primary">{{users.length}} Customers</a>
    <a href="/orders" class="btn btn-primary">{{orders.length}} Orders</a>

{{/block}}

{{/extends}}