{{#extends 'base'}}

{{#block 'login'}}

    {{!-- <div class="container-fluid">

        <div class="row">

            <div class="d-none d-lg-block col-lg-6 bg-dark" style="height:100vh">

            </div>

            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center" style="height:100vh">
                <div class="w-75">
                    <h1>Login</h1>

                    <form method="POST">

                        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                        {{{form}}}
                        <input type="submit" value="Log in" class="btn btn-primary mt-4"/ >
                    </form>
                </div>
            </div>
            
        </div>

    </div> --}}
    
    <div class="w-100 d-flex flex-column align-items-center justify-content-center log-in">

        <div class="col-12 col-lg-4">
            <div class="w-75 m-auto">

                <div class="sun m-auto mb-4">
                    <img src="/images/sunray.png" class="sunray">
                    <img src="/images/sun.png">
                </div>

                <h1 class="text-center">Login</h1>

                <form method="POST">

                    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                    {{{form}}}

                    <div class="d-flex align-items-center justify-content-center">
                        <input type="submit" value="Log in" class="btn btn-primary mt-4"/ >
                    </div>
                </form>
            </div>
        </div>
    </div>


{{/block}}

{{/extends}}