{{#extends 'base'}}

{{#block 'content'}}

    <h1>Hi, {{profile.username}}!</h1>

    <ul>
        <li>Name: {{profile.first_name}} {{profile.last_name}}</li>
        <li>Email: {{profile.email}}</li>
    </ul>

    <a href="/logout" class="btn btn-primary">Log out</a>

{{/block}}

{{/extends}}